
h1 CUBE
.cube1.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube2.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube3.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube4.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube5.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube6.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube7.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube8.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube9.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube10.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube11.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube12.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube13.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube14.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube15.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube16.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube17.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube18.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube19.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube20.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube21.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube22.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube23.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube24.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube25.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube26.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube27.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube28.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube29.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube30.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube31.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube32.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube33.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube34.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube35.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube36.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube37.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube38.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube39.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube40.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube41.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube42.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube43.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube44.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube45.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube46.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube47.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube48.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 

.cube49.cube 
  .eye.eyeR
  .eye.eyeL 
  .mouth 

.cube50.cube 
  .eye.eyeR 
  .eye.eyeL 
  .mouth 
